@model GomiShop.Core.ViewModel.UpdateMegaCategoryViewModel

<div class="modal-header">
    <h5 class="modal-title">
        @if (Model.Id != 0)
        {
            @: @Model.Name_vi
        }
        else
        {
            @:Thêm danh mục chính
        }
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Ajax.BeginRouteForm("SubmitFormMegaCate", new AjaxOptions() { OnBegin = "megaCate.submitFrm.OnBegin", OnSuccess = "megaCate.submitFrm.OnSuccess", OnComplete = "megaCate.submitFrm.OnComplete", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)

    <div class="modal-body">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "custom-control-input" })
                @Html.LabelFor(m => m.IsEnabled, new { @class = "custom-control-label box-title" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name_vi)
            @Html.TextBoxFor(m => m.Name_vi, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name_vi)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name_en)
            @Html.TextBoxFor(m => m.Name_en, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name_en)
        </div>

        <div class="form-group">
            <label>Icon(64x64)</label>
            <div class="uploadIcon" id="uploadAvatar" data-id="@Model.Avatar" data-path="@Model.AvatarPath"></div>
            @Html.HiddenFor(m => m.Avatar)
        </div>

        <div class="form-group">
            <label>Hình ảnh(1920x450)</label>
            <div class="uploadCover" id="uploadCover" data-id="@Model.Cover" data-path="@Model.CoverPath"></div>
            @Html.HiddenFor(m => m.Cover)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-outline-primary">Lưu</button>
    </div>
}